<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @social_work.name %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @social_work.discount %>
</p>

<%= link_to 'Edit', edit_social_work_path(@social_work) %> |
<%= link_to 'Back', social_works_path %>
