<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @turn.date %>
</p>

<p>
  <strong>Medic:</strong>
  <%= @turn.medic.name %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @turn.patient.name %>
</p>

<%= link_to 'Edit', edit_turn_path(@turn) %> |
<%= link_to 'Back', turns_path %>
